* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #f5f5f5 !important;
}
header a {
  color: #000 !important;
  font-weight: 600 !important;
  transition: 0.3s all !important;
}
header a:hover {
  color: #8fbc8f !important;
  background: transparent !important;
}

main {
  flex-grow: 1;
  background-color: #8fbc8f;
}
header a.active {
  color: #8fbc8f !important;
}
.content {
  height: 100vh;
}
.header__logo {
  display: flex;
  list-style: none;
}
.header__logo li {
  padding: 10px;
}

body {
  line-height: 1.2;
  font-size: 18px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
