#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
        position: relative;
      }
      .load {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 18px);
        text-align: center;
      }