:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header a {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
header a:hover {
  color: #000 !important;
  border-bottom: 2px solid #000;
}
header a.active {
  color: #000 !important;
  border-bottom: 2px solid #000;
}
.header,
.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-right: 30px;
}
.header {
  border-bottom: 4px solid #0be69d;
}
.header__nav {
  display: flex;
  list-style: none;
}
.header__nav li {
  padding: 10px;
}
.footer {
  border-top: 4px solid #0be69d;
}
body {
  line-height: 1.2;
  font-size: 18px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 75%;
}

.form {
  background: #fff;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form__input {
  min-height: 25px;
  padding: 10px;
  width: 100%;
  border: 1px solid;
  border-radius: 6px;
}

.form__btn {
  background: #0be69d;
  border: none;
  cursor: pointer;
  width: 100px;
  transition: 0.3s ease;
}
.form__btn:hover {
  background: #000;
  color: #0be69d;
}

.todo-item {
  display: flex;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 6px;
}

.todo-item--checked {
  text-decoration: line-through;
}

.todo-item__description {
  flex-grow: 1;
  padding-left: 10px;
}

.todo-item__delete {
  background: #0be69d;
  border: none;
  cursor: pointer;
  width: 95px;
  padding: 10px;
}
button {
  font-weight: 600;
  color: #000;
  border-radius: 6px;
  border: 2px solid #000;
  background: #0be69d;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s ease;
}
button:hover {
  background: #000;
  color: #0be69d;
}
main {
  padding: 20px 10px;
}
