:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

li{
  list-style: none;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  color: antiquewhite;
  background: linear-gradient(90deg, #242424 0%, antiquewhite 100%);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: antiquewhite;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #242424;
  padding: 8px 10px;
  font-size: 1em;
  color: antiquewhite;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  color: #242424;
  background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75%;
}

.form {
    background: antiquewhite;
    margin: 25px 0;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.form__input {
    min-height: 25px;
    padding: 10px;
    width: 100%;
    border: 1px solid #242424;
    border-radius: 10px;
    background: antiquewhite;
}

.todo-item {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item--checked {
    text-decoration: line-through;
}

.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}

.todo-item__delete {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: 95px;
    padding: 10px;
}
.form__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}